<div class="form_comment">
    {{ form_start(comment_form) }}
    {% spaceless %}
    {{ form_row(comment_form.comment) }}
    {% endspaceless %}
    <input class="comment_button" type="submit" value="Post" />
    {{ form_end(comment_form) }}
</div>