<div class="posted_comment">
    <div class="posted_author">{{ comment.author.username }}</div>
    <div class="posted_content">
        <div class="posted_text">{{ comment.comment }}</div>
        <div class="posted_time">{{ comment.createdAt|ago }}</div>
    </div>
</div>