
html
{
	width: 100vw;
	max-width: 1080px;
	margin: auto;
	background-color: #eeeeee;

}
/* HEADER */

/* FIRST ROW */

.color__choices
{
	display: flex;
	justify-content: flex-end;
}

.color__choicesInput
{
	width: 0.65vw;
	height: 0.65vw;
	margin-right: 0.625rem;
	margin-top: 0.625rem;

}


.color__choicesInput--blue
{
	background-color: blue;
}

.color__choicesInput--purple
{
	background-color: purple;
}

.color__choicesInput--green
{
	background-color: green;
}

.color__choicesInput--orange
{
	background-color: orange;
}

.color__choicesInput--red
{
	background-color: red;
}

.color__choicesText
{
	margin-top: 0.375rem;
	margin-left: 2.125rem;
}

/* SECOND ROW */

.logo
{
	font-size: 84px;
}

.container_header
{
	display: flex;
	justify-content: space-between;
}

.form
{
	align-self: flex-end;
}

.form_position
{
	display: flex;
	flex-direction: row;
}

.form_bar
{
	width: 27.7vw;
	height: 1.7vw;
}

.form_button
{
	background-color: #2196F3;
	color: white;
	border: 0rem;
	width: 7.26vw;
	cursor: pointer;
}

.text_online
{
	align-self: flex-end;
}

/* BODY */

/* CATEGORY */

.category__choices
{
	display: flex;
	justify-content: space-between;
	margin-top: 1.25rem;
}

/* FEED */

.feed
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1.25rem;
	width: 100%;

}

/* LEFT COLUMN */


.feed__side
{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 200px;
}

/* FIRST BLOCK */

.feed__sideFeatured
{
	width: 100%;
	margin-bottom: 10px;
}

.featured__navbar
{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	background-color: white;
}

.featured__navbar--title
{
	padding-left: 0.1875rem;
	padding-top: 0.1875rem;
	font-size: 18px;
}

.featured__navbar--text
{
	padding-top: 0.1875rem;
	font-size: 7px;
	padding-top: 5px;
	padding-right: 5px;
}

.featured__navbar--subtitle
{
	background-color: white;
	padding-bottom: 0.1875rem;
	padding-left: 0.1875rem;
	font-size: 12px;
}

/* SECOND BLOCK */

.feed__sideRandom
{
	display: flex;
	width: 100%;
	background-color: lightgrey;
	margin-bottom: 10px;
	min-height: 50
}

.random__content
{
	margin: auto;
}

/* THIRD BLOCK */

.feed__sideFollow
{
	width: 100%;
	background-color: white;
	margin-bottom: 10px;

}

.follow__title
{
	margin-top: 0.3125rem;
	margin-left: 0.3125rem;
	margin-bottom: 0.5625rem;
	font-size: 21px;
}

.follow__profile
{
	display: flex;
	flex-direction: row;
	margin-top: 0.3125rem;
	justify-content: space-between;
}

.follow__profileImage
{

	margin-left: 0.1875rem;
}

.follow__profileDescription
{
	display: flex;
	flex-direction: column;
}

.follow__profileAdd
{
	font-size: 1.875rem;
	margin-right: 1.25rem;
}

.description__name
{
	font-size: 0.875rem;
}

.description__info
{
	display: flex;
	flex-direction: row;
}

.description__infoCountry
{
	width: 0.858vw;
	height: 0.924vw;
	background-color: lightgrey;
}

.description__infoFollowers
{
	font-size: 0.75rem;
}

/* FOURTH BLOCK */

.feed__sidePopular
{
	width: 100%;
	background-color: white;
}

.popular__title
{
	margin-top: 0.3125rem;
	margin-left: 0.3125rem;
	margin-bottom: 0.5625rem;
	font-size: 21px;
}

.popular__date
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.popular__dateInfo
{
	margin:auto;
}

.popular__post
{
	display: flex;
	flex-direction: row;
	margin-top: 0.1875rem;
}

.popular__postVideo
{
	margin-top: 0.3125rem;

	margin-left: 0.1875rem;
}

.popular__postText
{
	display: flex;
	flex-direction: column;
	margin-top: 0.1875rem;
	margin-left: 0.625rem;
}

.popular__postText--title
{
	font-size: 0.75rem;

}

.popular__postText--number
{
	font-size: 0.75rem;
}

/* MAIN COLUMN */

.feed__central
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 1.25rem;
}

.feed__centralHead
{
	display: flex;
	flex-direction: row;
}

.head__text
{
	margin-right: 0.3125rem;
}

.feed__centralPost
{
	display: flex;
	flex-direction: row;
	margin-top: 0.625rem;
	width: 100%;
	background-color: white;
}

.post__image
{
	width: 13.2vw;
	height: 7.392vw;
	background-color: grey;
}

.post__text
{

	width: 100%;
	padding-left: 0.652rem;
}

.post__textCategory
{
	font-size: 1.125rem;
	padding-top: 0.1875rem;
}

.post__textTitle
{
	font-size: 0.875rem;
	padding-top: 0.1875rem;
}

.post__textProfile
{
	display: flex;
	flex-direction: row;
}

.profile__name
{
	font-size: 0.875rem;
	padding-top: 0.1875rem;
}

.profile__subscribers
{
	font-size: 0.75rem;
	padding-top: 0.1875rem;
	padding-left: 0.625rem;
}

.post__textTags
{
	font-size: 0.75rem;
	padding-top: 0.1875rem;
}

.post__textInfos
{
	display: flex;
	flex-direction: row;
}

.infos__poster
{
	font-size: 0.75rem;
	padding-top: 0.1875rem;
}

.infos__time
{
	font-size: 0.75rem;
	padding-top: 0.1875rem;
	padding-left: 0.625rem;
}

.infos__type
{
	font-size: 0.875rem;
	padding-top: 0.1875rem;
	padding-left: 6.875rem;
}

/* RIGHT COLUMN */

.feed__perso
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	margin-left: 1.25rem;
}

.user__description
{
	background-color: white;

}
.user__descriptionImage
{
	display: flex;
	flex-direction: row;

}

.user__descriptionDetails
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0.5075rem;

}

.details__user
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;

}

.details__userName
{
	margin-left: 0.1875rem;
	margin-top: 0.1875rem;
}

.details__userFollowers
{
	margin-left: 0.625rem;
	margin-top: 0.1875rem;
}

.user__descriptionFollowimage
{
	width: 4.62vw;
	background-color: grey;
}

.user__interests
{
	display: flex;
	flex-direction: column;
	margin-top: 1.25rem;
	margin-left: 0.5075rem;
}

.user__interestsLiked
{
	margin-bottom: 5px;

}

.details__description
{
	margin-left: 0.1875rem;
}

.user__separation
{
	height: 2px;
	max-width: 400px;
	background-color: #4A4A4A;
	margin-top:15px;
	margin-right: 5px;
	margin-left: 0.5075rem;

}

.user__interests
{
	margin-bottom: 10px;
}

/* SIGN IN */

.feed__sideRight
{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	background-color: white;
	padding-left: 20px;
	padding-top: 7px;
	padding-right: 20px;
	width: 100%;
}

.text_title
{
	font-size: 21px;
}

.text_description
{
	font-size: 14px;
	padding-bottom: 5px;
}

.username_input
{
	margin-bottom: 5px;
	border: 1px solid #2196F3;
	width: 100%;
	height: 30px;
	padding-left: 5px;
}

.password_input
{
	margin-bottom: 5px;
	border: 1px solid #2196F3;
	width: 100%;
	height: 30px;
	padding-left: 5px;
}

.right_password
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.password__signup
{
    background-color: white;
    border: none;
    color: black;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;

}

.password__signin
{
    background-color: #2196F3;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.forgot__password
{
    border: none;
    color: grey;
    text-decoration: none;
    background-color: white;
    margin-top: 5px;
    margin-left: 50px;
}


.button_create
{
	width: 240px;
	height: 56px;
	background-color: #2196F3;
	color: white;
	margin-left: 0.5rem;
	margin-bottom: 10px;
	border:none;
}
