{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}
{% block body %}

<div class="color__choices">
            <div class="color__choicesInput color__choicesInput--blue"></div>
            <div class="color__choicesInput color__choicesInput--purple"></div>
            <div class="color__choicesInput color__choicesInput--green"></div>
            <div class="color__choicesInput color__choicesInput--orange"></div>
            <div class="color__choicesInput color__choicesInput--red"></div>
            <div class="color__choicesText">change theme</div>
    </div>
    <div class="container_header">
        <div class="logo logo_position">k</div>
        <div class="form">
            <form class="form_position">
                <input class="form_bar" type="text" name="searchbar" placeholder="Discover your new favorite youtuber…">
                <input class="form_button" type="submit" value="SEARCH">
            </form>
        </div>
        <div class="text_online">1826 online</div>
    </div>

<nav class="category__choices">
    <div><</div>
    <div>vlog</div>
    <div>comedy</div>
    <div>lifestyle</div>
    <div>art</div>
    <div>photography</div>
    <div>gaming</div>
    <div>sciences</div>
    <div>politics</div>
    <div>cute</div>
    <div>vape</div>
    <div>make-up</div>
    <div>education</div>
    <div>></div>
</nav>

<div class="feed">
    <div class="feed__side">
        <div class="feed__sideFeatured">
            <div class="featured__navbar">
                <div class="featured__navbar--title">Cyprien</div>
                <div class="featured__navbar--text">FEATURED</div>
            </div>
                <div class="featured__navbar--subtitle">Le démenagement</div>
            <div class="featured__content"><iframe width="200" height="150" src="https://www.youtube.com/embed/Bpp77Ksyi1w" frameborder="0" allowfullscreen></iframe></div>
        </div>
<!--         <div class="feed__sideRandom">
            <div class="random__content">GO RANDOM</div>
        </div> -->
        <div class="feed__sideFollow">
            <div class="follow__title">FOLLOW THEM</div>

            <div class="follow__profile">
                <div class="follow__profileImage"><img src="http://fr.cdn.v5.futura-sciences.com/buildsv6/images/square200/1/e/0/1e0b7a87a6_50142295_koch-500.jpg" style="width:30px;height:30px;"></div>
                <div class="follow__profileDescription">
                    <div class="description__name">Anthony Chevalin</div>
                    <div class="description__info">
                        <div class="description__infoFollowers">🇫🇷 263 followers</div>
                    </div>
                </div>
                <div class="follow__profileAdd">+</div>
            </div>
            <div class="follow__profile">
                <div class="follow__profileImage"><img src="https://www.thehaircut.com/uploads/Coupes-de-cheveux/Undercut.jpg" style="width:30px;height:30px;">
</div>
                <div class="follow__profileDescription">
                    <div class="description__name">Michel Dumotrire</div>
                    <div class="description__info">
                        <div class="description__infoFollowers">🇫🇷  148 followers</div>
                    </div>
                </div>
                <div class="follow__profileAdd">+</div>
            </div>


            <div class="follow__profile">
                <div class="follow__profileImage"><img src="https://www.thehaircut.com/uploads/Coupes-de-cheveux/Comb-Over.jpg" style="width:30px;height:30px;"></div>
                <div class="follow__profileDescription">
                    <div class="description__name">Pierre Bellemarre</div>
                    <div class="description__info">
                        <div class="description__infoFollowers">🇫🇷  357 followers</div>
                    </div>
                </div>
                <div class="follow__profileAdd">+</div>
            </div>

        </div>
        <div class="feed__sidePopular">
            <div class="popular__title">POPULAR</div>
            <div class="popular__date">
                <div class="popular__dateInfo">day</div>
                <div class="popular__dateInfo">week</div>
                <div class="popular__dateInfo">month</div>
                <div class="popular__dateInfo">year</div>
            </div>
            <div class="popular__post">
                <div class="popular__postVideo"><iframe width="50" height="35" src="https://www.youtube.com/embed/VbKyFJHxz8s" frameborder="0" allowfullscreen></iframe></div>
                <div class="popular__postText">
                    <div class="popular__postText--title">Wow that's awesome</div>
                    <div class="popular__postText--number">posted by Bob Tuno</div>
                </div>

            </div>
            <div class="popular__post">
                <div class="popular__postVideo"><iframe width="50" height="35" src="https://www.youtube.com/embed/K4ZuQaUfIRw" frameborder="0" allowfullscreen></iframe></div>
                <div class="popular__postText">
                    <div class="popular__postText--title">Check this funny guy</div>
                    <div class="popular__postText--number">posted by Ulric Raenor</div>
                </div>

            </div>
            <div class="popular__post">
                <div class="popular__postVideo"><iframe width="50" height="35" src="https://www.youtube.com/embed/gxcqQbHUDEg" frameborder="0" allowfullscreen></iframe></div>
                <div class="popular__postText">
                    <div class="popular__postText--title">This girl deserve fame</div>
                    <div class="popular__postText--number">posted by Christophe</div>
                </div>

            </div>


        </div>
    </div>
    <div class="feed__central">
        <div class="feed__centralHead">
            <div class="head__text">HOT🔥</div>
            <div class="head__text">NEW</div>
            <div class="head__text">DISCOVER</div>
        </div>
        {% for post in posts %}
            {% include '/post/post/post.html.twig' with {'post': post} %}
        {% endfor %}
    </div>
    <div class="feed__perso">
        <a href="{{ path('post_new') }}" ><input type="button" class="button_create" value="CREATE A POST"></a>

        <div class="feed__persoCreate"></div>
        <div class="feed__persoUser">
            <div class="user__description">
                <div class="user__descriptionImage">

                <div class="user__descriptionDetails">
                    <div class="details__user">
                        <div class="details__userName">Axel</div>
                        <div class="details__userFollowers">72 followers</div>
                    </div>
                    <div class="details__description">Watches addict, vape nation, friend of the leo loriol.</div>
                </div>
              </div>
                <div class="user__separation"></div>
                <div class="user__interests">
                    <div class="user__interestsFollowed">You recently followed Phillipe, Laura and Patrick.</div>
                    <div class="user__interestsLiked">Last post you liked : A french comedian by Laura.</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
