{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new.css') }}" />
{% endblock %}

{% block body %}
<div class="color__choices">
            <div class="color__choicesInput color__choicesInput--blue"></div>
            <div class="color__choicesInput color__choicesInput--purple"></div>
            <div class="color__choicesInput color__choicesInput--green"></div>
            <div class="color__choicesInput color__choicesInput--orange"></div>
            <div class="color__choicesInput color__choicesInput--red"></div>
            <div class="color__choicesText">change theme</div>
    </div>
    <div class="container_header">
        <div class="logo logo_position"></div>
        <div class="form">
            <form class="form_position">
                <input class="form_bar" type="text" name="searchbar" placeholder="Discover your new favorite youtuber…">
                <input class="form_button" type="submit" value="SEARCH">
            </form>
        </div>
        <div class="text_online">1826 online</div>
    </div>
</head>
<body>



<div class="feed">
    <div class="feed__central">
        <div class="feed__centralHead">
            <div class="head__text">NEW POST</div>
        </div>
        <div class="feed__centralFill">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="feed__side">
        <input class="feed__sideShare" type="submit" value="SHARE POST" />
        {{ form_end(form) }}
    </div>
</div>
</body>

{% endblock %}